{% extends 'base.html' %}
{% block title %}Médicos{% endblock %}

{% block content %}
    <h1>Cadastro de Médicos</h1>
    <a href="{{ url_for('medicos.create') }}" class="btn btn-success mb-3">Novo Médico</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Especialidade</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for medico in medicos %}
            <tr>
                <td>{{ medico[1] }}</td>
                <td>{{ medico[2] }}</td>
                <td>{{ medico[3] }}</td>
                <td>{{ medico[4] }}</td>
                <td>
                    <a href="{{ url_for('medicos.update', id=medico[0]) }}" class="btn btn-sm btn-warning">Editar</a>
                    <form action="{{ url_for('medicos.delete', id=medico[0]) }}" method="post" class="d-inline">
                        <input class="btn btn-sm btn-danger" type="submit" value="Excluir" onclick="return confirm('Tem certeza?');">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}